body {
    background-color: rgb(31,31,31);
    margin: 8rem;
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem 1rem;
    border-radius: 6px;
}

input {
    width: 100%;
    height: 1.5rem;
    display: block;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

button {
    height: 1.5rem;
    display: block;
    
}

